<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Dashboard"
		 connectionString="Application Name=Rushmore;Connect Timeout=30;Connection Lifetime=300;Database=ePREMIS_Dashboard;Server=tcp:INJECTED.ehos.tns.ndchealth.com;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
  <add name="Claims"
		 connectionString="Application Name=Rushmore;Connect Timeout=30;Connection Lifetime=300;Database=claims;Server=tcp:INJECTED.ehos.tns.ndchealth.com;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
  <add name="EfiStaging"
		 connectionString="Application Name=Rushmore;Connect Timeout=30;Connection Lifetime=300;Database=eHospital_EfiStaging;Server=tcp:dtdbadmin.ehos.tns.ndchealth.com;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
  <add name="Remits"
		 connectionString="Application Name=Rushmore;Connect Timeout=30;Connection Lifetime=300;Database=eHospital_Remits;Server=tcp:INJECTED.ehos.tns.ndchealth.com;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
  <add name="Security"
		 connectionString="Application Name=Rushmore;Connect Timeout=30;Connection Lifetime=300;Database=eHospital_Security;Server=tcp:dtdbadmin.ehos.tns.ndchealth.com;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
  <add name="SysConfig"
		 connectionString="Application Name=Rushmore;Connect Timeout=30;Connection Lifetime=300;Database=eHospital_SysConfig;Server=tcp:dtdbadmin.ehos.tns.ndchealth.com;UID=sa;PWD=eHospital"
		 providerName="System.Data.SqlClient"/>
</connectionStrings>
