<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Shared" connectionString="Server=(local);Database=Tosca;Application Name=Tosca;Connection Lifetime=300;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  <add name="Client" connectionString="Server=(local);Database=Tosca;Application Name=Tosca;Connection Lifetime=300;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
</connectionStrings>
